.item {
    transition: 0.5s;
    position: relative;
    background: var(--form-bg-color);
    border: 1px solid var(--form-border-color);
    border-bottom: none;
    display: flex;
}

.hidden {
    display: none;
}

.checkButton {
    position: absolute;
    border: 1px solid var(--form-border-color);
    background: var(--form-bg-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 3px 0 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.checkButtonCompleted  {
    /*background-image: url("check.png");*/
    background-size: 20px ;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border: 1px solid var(--form-border-color);
    background: var(--form-bg-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 3px 0 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.text {
    background: var(--form-bg-color);
    word-wrap: break-word;
    margin-left: 47px;
    padding: 16px 50px 16px 16px;
    width: 500px;
    font-size: 24px;
}

.input {
    outline:none;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    margin-left: 47px;
    padding: 16px 0 16px 16px;
    width: 500px;
    font-size: 24px;
}


.completed {
    transition: 0.5s;
    color: #d9d9d9;
    text-decoration: line-through;
    background: var(--form-bg-color);
    word-wrap: break-word;
    margin-left: 47px;
    padding: 16px 50px 16px 16px;
    width: 500px;
    font-size: 24px;
}

.trashButton {
    display: none;
    position: absolute;
    background: none;
    border: none;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    cursor: pointer;
    transition: color 0.4s ease-out;
}

.item:hover .trashButton {
    display: block;
}

.trashButton:hover {
    color: #af5b5e;
}

.done {
    text-decoration: line-through;
    color: #ccc;
}